body{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    /* background-color: wheat; */
}
.menu{
    text-align: right;
     margin-top: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
} 
.menu a{
     padding-left: 3%;
     padding-right: 3%;
     border: 2px solid blue;
     text-decoration: none;
     background-color: crimson;
     box-shadow: 2px 1px 8px black;

}
.menu a:hover{
    background-color: darkmagenta;
}
h1{
    font-weight: 700;
    font-size: 50px;
    margin: 0px;
}
p{
    padding-top: 5px;
    padding-bottom: 15px;
}
.first-highlight {
    color:rgb(182, 35, 35);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 50%;
}
.half-width h2{
    margin-top: 50px;
}
.order-section{
    padding-top: 100px;
}

section{
    height: 400px;
    /* margin-bottom: 50px;*/
} 


.link-button{
text-decoration: none;
/* background-color: orangered; */
background-image: linear-gradient(to right,orangered,red);
box-shadow: 1px 1px 8px red;
border-radius: 20px;
color: white;
padding: 10px 20px;

}
.recepies-sec{
    height: 800px;
}
.recepi-intro{
    padding: 30px;
    text-align: center;
}
/* .work-head{
    text-align: center;
    font-weight: 800;
    height: 50px;
} */

.about-me{
    background-image: url(image/bg.jpg);
    height: 428px;
}
img{
    width: 100%;

}
.single-rec{
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 8px gray;
}
.triple-rec{
    width: 25%;
    float: left;
    margin-left: 4%;
    padding: 1.5%;
    /* display: inline-block; */

}
.adjust-image{
    border-radius: 15px;
}
.footer{
    height: 250px;
    background-color: black;
    text-align: center;
}
.footer h2{
    color: gray;
    padding-top: 80px;
}
small{
    color: gray;
    padding-top: 30px;
}
#footer-color{
    color: orange;
}



.bonus{
    background-image: url(image/Front_photo.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: wheat;
}
.bonus h1{
    padding-top: 40px;
    padding-left: 30px;
    color: red;
}
.bonus p{
    color: white;
    padding-left: 30px;
}
#explore-button{
    margin-left: 30px;
    padding: 5px;
    background-color: orangered;
    color: white;
}

